{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": true,
    "trailingComma": "none",
    "semi": true,
    "plugins": ["./node_modules/prettier-plugin-organize-imports"],
    "quoteProps": "as-needed"
}
